<html>

<head>
  <link rel="stylesheet" type="text/css" href="./main.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <title>Primeiro Projeto</title>

</head>

<body>
   <header class="menu-principal">
     <main>
      <div class="header-1">
        
         <div class="logo">
          <img src="./img/logo.png"/>
         </div>
         <div class="redes-sociais">
            <ul>
              <li><a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D"><img src="./img/twitter.png"/></a></li>
              <li><a href="https://pt-br.facebook.com/"><img src="./img/facebook.png"/></a></li>
              <li><a href="https://br.linkedin.com/"><img src="./img/contatos.png"/></a></li>
            </ul>
         </div>
     </div> 
   </main>    
  </header>
  <main class="col-100 menu-urls">
   <div class="header-2">
    
    <div class="menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/jogos">Jogos</a></li>
        <li><a href="/carrinho">Carrinho</a></li>
      </ul>
    </div>
    <div class="busca">
      <input placeholder="Procurar Item" type="text" />
    
    </div>

    <div class="login">
      <ul>
        <li><a href="/login">conta</a></li>
      </ul>

    </div>

   </div> 
  </main>
  <div class="col-100">
    <div class="slider-principal">
      <img src="./img/slide.png">
      <img src="./img/slide-1.png">
      <img src="./img/slide-2.png">
    </div>
    <div class="col-100">
      <div class="content texto-destaque">
        <h1> A casa do jogo antigo, a <strong>melhor</strong> loja para venda de jogos antigos</h1>
        <p>Seja bem-vindo A Casa do jogo Antigo!</p>
        <p>Aqui você encontrará jogos, acessórios e artigos retro. Venha reviver sua nostalgia relembrando seus melhores momentos jogando clássicos que marcaram sua geração.</p>

        <div class="col-3 bloco-texto">
          <img src="./img/pc.png"/>
          <h3> <b>PC</b> </h3>
          <p> Jogos em midia física, gift cards e acessórios!</p>

        </div>
        <div class="col-3 bloco-texto">
          <img src="./img/console .png"/>
          <h3> <b>Console</b> </h3>
          <p> Jogos antigos para todo tipo de velharia!</p>

        </div>
        <div class="col-3 bloco-texto">
          <img src="./img/celular.png"/>
          <h3> <b>Celular</b> </h3>
          <p> Gift Cards, Capas customizadas e muito mais!.</p>

        </div>
      </div>
    </div>
  </div>
 
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/jquery-migrate.js"></script>
  <script type="text/javascript" src="../js/slick.min.js"></script>
  <script type="text/javascript" src="../js/main.js"></script>
  <script>
    const arrows = document.querySelectorAll('.slick-arrow')
    arrows.forEach(arrow => arrow.remove())
  </script>
</body>

</html>